.needs-list {
  display: flex;
  flex-direction: row;
  background-color: rgb(245, 245, 245);
}

.needs-list ul {
  list-style: none;
  padding: 0;
  flex-basis: 50%;
}
.needs-list li {
  padding-left: 10px;
}

.needs-list .needs-fulfilled {
}
.needs-list .needs-unfulfilled {
  
}

.task-progress ul {
  list-style: none;
  padding: 0;
}

.goal-progress {
  display: flex;
  background-color: rgb(245, 245, 245);
  margin-top: 10px;
}
.task-progress {
  flex-basis: 50%;
}
.funding-goal {
  flex-basis: 50%;
}