.header {
	display: flex;
	justify-content: space-around;
	padding: 20px 30px;
	font-size: 10px;
}

h1 {
	vertical-align: top;
	font-size: 16px;
	font-weight: 100;
}

.left, .right {
	display: inline;
	flex: 1;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.links {
	display: inline;
}

.accounts {
	display: inline;
}

.header table {
	border: none;
	border-collapse: collapse;
}

.header table td {
	padding-left: 5px;
	padding-right: 5px;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.header table td:first-child {
	border-left: none;
}

.header table td:last-child {
	border-right: none;
}

.header a, a:link, a:visited {
	color: black;
	text-decoration: none;
}

.header a.login {
	padding: 6px 12px;
	background: var(--color_dark_orange);
	color: white;
	margin-left: 8px;
}
.header a.login:hover {
	background: var(--color_light_orange);
}

.assembliLogo {
	display: inline;
	height: 48px;
}

@media (max-width: 767px) {
	.assembliLogo {
		height: 32px;
	}
	.header .login {
		display: block;
		float: right;
	}
}