.groupbox-container {
  display: flex;
  flex-direction: column;
}

.groupbox-row1, .groupbox-row2 {
  display: flex;
  justify-content: space-evenly;
  align-content: space-around;
  margin-bottom: 20px;
}

a.groupbox {
  flex-basis: 25%;
  background: var(--color_dark_blue);
  color: white;
  text-align: center;
  padding: 1em;
}

.groupbox:hover {
  background: var(--color_light_blue);
}

.groupbox .icon {
  border-radius: 50%;
  background-color: var(--color_dark_orange);
  width: 48px;
  height: 48px;
  margin: 0 auto;
  position: relative;
}

.groupbox .icon img {
  width: 75%;
  height: 75%;
  position: absolute;
  top: 12.5%;
  left: 12.5%;
}