.mapPanel {
	padding: 20px;
}

img.mapImage {
	width: 100%;
}

.mapText {
	width: 50%;
}

@media (max-width: 767px) {
	.mapText {
		text-align: center;
		width: 100%;
	}
}

.mapPanel {
	text-align: left;
}