.undecorated {
    list-style: none;
}

.filled {
    list-style: disc;
}

.Sidebar {
	padding: 0 20px;
}

.Sidebar .dropbtn {
  background-color: var(--color_dark_orange);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.Sidebar .dropdown {
  position: relative;
  display: inline-block;
}

.Sidebar .dropdown-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: var(--color_light_orange);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.Sidebar .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.Sidebar .dropdown-content a:hover {
	background-color: var(--color_dark_orange);
}
.Sidebar .dropdown:hover .dropdown-content {
	display: block;
}
.Sidebar .dropdown:hover .dropbtn {
	background-color: var(--color_light_orange);
}