.App {
  text-align: center;
}

.Step-label {
  border-radius: 1em;
  background: purple;
  padding: .4em;
  color: white;
  margin-right: 12px;
}

.Homepage-button {
  color: white;
  background-color: rgb(190, 190, 190);
  border-radius: 0.05em;
  font-size: 2em;
  display: block;
  margin: 0 auto;
}

.Homepage-button:hover, .Homepage-button:focus {
  cursor: pointer;
  background-color: rgb(180, 180, 180);
}

.step3 {
  padding: 20px;
  display: flex;
  background: #DDD;
}

.step3-left, .step3-right {
  display: inline;
}

.Step-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background: #DDD;
}

.Step-img-wrap {
  flex: 1 1 200px;
}

.Step-img-wrap>img {
  height: auto;
  width: auto;
  max-width: 70%;
}

.Step-text {
  flex: 1 1 500px;
}
