.App {
  text-align: center;
}

.Homepage-button {
  color: white;
  background-color: var(--color_dark_orange);
  border-radius: 0.05em;
  border-color: var(--color_dark_orange);
  font-size: 2em;
  display: block;
  margin: 0 auto;
}

.Homepage-button:hover, .Homepage-button:focus {
  cursor: pointer;
  background-color: var(--color_light_orange);
}

.step-box {
  padding: 10px;
  text-align: justify;
}
.step-box-accent {
  background: var(--color_dark_blue);
  color: white;
}
.step-box-accent h3 {
  color: var(--color_dark_orange);
}
.step-image {
  float: left;
  width: 50%;
  height: 50%;
  margin: 10px;
}

.step-left-label {
  text-align: left;
}
.step-right-label {
  text-align: right;
}
