.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

h1 {
  vertical-align: top;
  font-size: 16px;
  font-weight: 100;
  display: inline;
}

.Step-label {
  border-radius: 1em;
  border: .1em solid #3fb6f1;
  padding: .2em;
}
