.Footer {
	margin-top: 12px;
	background: var(--color_dark_gray);
	color: white;
	padding: 20px 30px;
	display: flex;
	justify-content: space-between;
}

.Footer h1 {
	text-decoration: underline;
}

.Footer a, .Footer a:link, .Footer a:visited {
	color: white;
	text-decoration: none;
}

.footerColumn {
	display: inline;
}

.footerMediaIcon {
	width: 32px;
	height: 32px;
}